<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Story</title>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/lightbox-plus-jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Dancing+Script&family=Georgia&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Our Love Story</h1>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <p>Made with love by Nazzal</p>
    </footer>
</body>

</html>