<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ chapter.title }}</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display:wght@400;700&family=Merriweather:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="title">{{ chapter.title }}</h1>
        <p class="chapter-text">{{ chapter.text }}</p> <!-- Chapter text loaded dynamically -->
        <a href="{{ url_for('chapter', chapter_id=chapter_id + 1) }}" class="go-ahead">Next Chapter</a>
    </div>

    <!-- Footer -->
    <footer>
        <p>Made with love by Nazzal</p>
    </footer>
</body>

</html>